<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
<menu id="root-menu" label="MENU">
<item label="Lutris" icon="/usr/share/icons/hicolor/scalable/apps/net.lutris.Lutris.svg"><action name="Execute"><command>/usr/bin/lutris</command></action></item>
<item label="WineGUI" icon="/usr/share/icons/hicolor/scalable/apps/winegui.svg"><action name="Execute"><command>/usr/bin/winegui</command></action></item>
<item label="Winetricks" icon="/usr/share/icons/hicolor/scalable/apps/winegui.svg"><action name="Execute"><command>/usr/local/bin/winetricks --gui</command></action></item>
<item label="Wine Configuration" icon="/usr/share/icons/hicolor/scalable/apps/winegui.svg"><action name="Execute"><command>/usr/bin/winecfg</command></action></item>
<item label="Brave Origin" icon="/opt/brave.com/brave-origin-beta/product_logo_48.png"><action name="Execute"><command>/usr/bin/brave-origin</command></action></item>
<item label="File Manager (Thunar)" icon="/usr/share/icons/hicolor/scalable/apps/org.xfce.thunar.svg"><action name="Execute"><command>/usr/bin/thunar</command></action></item>
<item label="Double Commander" icon="/usr/share/icons/hicolor/scalable/apps/doublecmd.svg"><action name="Execute"><command>/usr/bin/doublecmd</command></action></item>
<item label="Midnight Commander" icon="/usr/share/icons/hicolor/scalable/apps/org.xfce.panel.windowmenu.svg"><action name="Execute"><command>/usr/bin/xterm -e /usr/bin/mc</command></action></item>
<item label="Terminal Emulator" icon="/usr/share/pixmaps/xterm-color_48x48.xpm"><action name="Execute"><command>/usr/bin/xterm</command></action></item>
</menu>
</openbox_menu>
